.loginbg {
    background: linear-gradient(rgb(5, 5, 5), rgb(83, 79, 79));
    height: auto;

}

.logincontainer {
    width: 680px;
    height: 85%;
    background-color: black;
    margin-top: 200px;
    border-radius: 0.5rem;
    margin-bottom: 50px;
    padding: 30px;
}

