@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

.music-bg {
    height: auto;
    overflow: hidden;
    min-height: 100vh;
}
.music-container {
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
    padding: 30px;
}

@media (max-width: 767px) {
    .music-container {
        padding: 50px;
    }
}

.music-text {
    font-size: 55px;
    color: rgb(0, 0, 0);
    font-weight: 650;
}

.buttons-container {
    display: flex;
    justify-content: row;
    gap: 10px;
}

@media (max-width: 767px) {
    .music-text {
        font-size: 44px;
    }
}

.music-sub-text {
    font-size: 30px;
    color: rgb(130, 118, 118);
    font-family: 'Rubik', sans-serif;
}

.line {
    display: flex;
    margin: 0 auto;
    width: 99.8%;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    opacity: 0.2;
}

.music-card {
    width: 100%;
    height: 260px;
    background-color: black;
    margin: 0 auto; 
    cursor: pointer;
}

@media (max-width: 767px) {
    .music-card {
        height: 150px;
        width: 250px;
    }
}

/* MAIN-MUSIC-CONTAINER */

.music-main-container {
    background-color: rgb(255, 255, 255);
    min-width: 75vw;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.music-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.navbar-component {
    font-size: 24px;
    color: rgb(77, 71, 71);
    font-weight: 450;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .navbar-component {
        font-size: 16px;
    }
}

.navbar-component:hover {
    color: red;
}

@media (max-width: 1200px) {
    .music-main-container {
      min-width: 100vw;
    }
}

.music-main-wawe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
    gap: 60px;
    overflow: hidden;
}

.playlist {
    display: flex;
    margin-top: 40px;
    gap: 10px;
    cursor: pointer;
}

.popular-now {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 60px;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

@media (max-width: 767px) {
    .popular-now {
        justify-content: center;
        align-items: center;
    }
}

.music-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    position: relative;
}

@media (max-width: 767px) {
    .music-cards {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
}

.music-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.music-card-img:hover {
    opacity: 0.5;
}

.music-card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
}

@media (max-width: 767px) {
    .music-card-text {
      display: flex;
      flex-direction: row;
    }
}

.music-card-subtext {
    opacity: 0.6;
    font-size: 29px;
}

@media (max-width: 1200px) {
    .music-card-subtext {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .music-card-subtext {
        font-size: 17px;
    }
}

.music-card-maintext {
    font-size: 30px;
}

@media (max-width: 767px) {
    .music-card-maintext {
        font-size: 20px;
    }
}


.music-card-subtext-line {
    display: flex;
    gap: 15px;
}

/* 2nd PAGE APPLICATION */
.secondpage-container {
    background-color: rgb(255, 255, 255);
    height: auto;
    min-height: 120vh;
    min-width: 25vw;
    display: flex;
    z-index: 8;
    padding-top: 75px;
    overflow: visible;
    transition: all 0.3s ease-out;
}

@media (max-width: 1200px) {
    .secondpage-container {
      min-width: 0vw;
    }
}

.secondpage-container.shown {
    width: 500px;
}

.vertical-line {
    width: 2px;
    background: black;
    opacity: 0.2;
}

.playlist-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: auto;
}

.playlist-item {
    position: relative;
    width: 440px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(221, 221, 190);
    margin-bottom: 10px;
    font-size: 15px;
    padding-right: 30px;
    box-shadow: 0 2px 4px black;
}

@media (max-width: 1199px) {
    .playlist-item {
      width: 380px;
      height: 90px;
      font-size: 13px;
    }
  }


.playlist-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 120px;
    max-height: 120px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
    .playlist-img {
      width: 380px;
      height: 90px;
    }
  }

.playlist-img:hover {
    opacity: 0.6;
}

.play-icon {
    position: absolute;
    top: 57%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}


.playlist-item:hover .play-icon {
    opacity: 1;
}

.playlist-container1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 997;
    transition: width 0.3s ease-out;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 2px solid black;
    gap: 5px;
    max-height: 500px;
    overflow: auto;
  }
  
  .close-button {
    cursor: pointer;
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
  }

  .close-button:hover {
    color: yellow;
    border: 1px solid yellow;
  }

  .playlist-shown {
    position: absolute;
    top: 10%;
    left: 80%;
    cursor: pointer;
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
  }

  @media (max-width: 767px) {
    .playlist-shown {
        position: relative;
        top: 0;
        left: 0;
    }
}

  .playlist-shown:hover {
    color: yellow;
    border: 1px solid yellow;
  }

  @media (max-width: 1200px) {
    .playlist-shown {
      display: flex;
    }
  }

.red-surcle {
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    font-size: 13px;
}

.red-surcle-lg {
    border-radius: 20%;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    font-size: 13px;
    border: 1px solid rgb(194, 184, 184);
    align-items: center;
    justify-content: center;
    font-size: 17px;
    display: flex;
    opacity: 0.7;
}

.playlist-container-info {
    align-items: center;
    gap: 40px;
    display: flex;
    padding: 8px;
}

.playlist-line {
    width: 99.8%;
    height: 2px;
    background-color: black;
    opacity: 0.2;
    margin: 12px auto 10px 10px
}
  
