@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

.subscribe-bg {
  background-color: rgb(230, 230, 230);
  height: auto;
  overflow: hidden;
  padding-top: 100px;
}

.subscribe-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .subscribe-container {
    max-width: 800px;
  }
}

.container-1st {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 100px;
}

.container-2st {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.container-3st {
  width: 100%;
  max-width: 1400px;
  max-height: 1300px;
  margin: 0 auto;
  height: 800px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
  background-color: #503cd3;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px; 
}

@media (max-width: 1200px) {
  .container-3st {
    max-width: 800px;
  }
}

.maintext {
  max-width: 60%;
  font-size: 30px;
  margin: 8% auto 10px;
  font-family: 'Montserrat', sans-serif;
}

.maintext-img {
  max-width: 60%;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.sub-text {
  max-width: 60%;
  font-size: 20px;
  font-weight: 450;
  color: grey;
}

.subb-text {
  max-width: 60%;
  font-size: 15px;
  font-weight: 450;
  color: grey;
}

.sub-button {
  width: 60%;
  height: 70px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 350;
  color: white;
  background:linear-gradient(rgb(191, 200, 28), rgb(218, 49, 209));
  transition: all 0.3s;
}

.sub-button:hover {
  background:linear-gradient(rgb(175, 183, 25), rgb(195, 42, 188));
  transform: scale(1.03);
}

.sub-img {
  max-width: 50%;
  border-radius: 20px;
  opacity: 0.8;
  margin-bottom: 30px;
  transition: all .3s;
}

.sub-img:hover {
  transform: scale(1.05);
}

.sub-images {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.3s;
}

.sub-images:hover {
  opacity: 0.8;
}

.spacer {
  height: 30px;
  background: rgb(230, 230, 230);
  width: 100%;
}

.pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 10px;
}

@media (max-width: 768px) {
  .pic-container {
    flex-direction: column;
  }

  .sub-images {
    width: 350px;
    height: 250px;
  }
}